*{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #7fffd4 18%, #00ced1 100%);
}

  
input,button{
    padding: 10px;
    box-sizing: border-box;
    border: none;
    width: 100%;
    border-radius: 7px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}
form{
    display: block;
    color: white;
    background-color:rgba(228, 228, 228, 0.884);
    max-width: 500px;
    min-width: 350px;
    margin:100px auto;
    text-align: center;
    padding: 20px;
    border-style: solid;    
    border-radius: 10px;
    border: 2px solid black;
}
.mb{
    margin-bottom: 20px;
}
button[type="submit"]{
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background-color: rgba(21, 45, 151, 0.863);
    border-style: solid;
    border-radius: 25px;
    border-color: black;
    text-shadow: 2px 1px 5px black; 
    cursor: pointer;
    

 
}
button:hover[type="submit"]{
    opacity: 0.9;

}
button:active[type="submit"]{
    background-color: green;
}
textarea{
    width: 100%;
    border-radius: 2px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    box-sizing: border-box;
    padding-top: 10px;
}
h2{
    color: black;
    margin-bottom: 5px;
}

img{
max-height:25px;
width: 100px;
padding: 4px;
}